@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$header_padding : 30px;

$main_height : 85vh;
$footer_height : 20vh;

$part_size : 25vw;

$header_height : 100vh - $main_height;